In [1]:
import pandas as pd

In [311]:
a = pd.read_parquet('details/tracker.parquet')

In [312]:
a[a.index == '20240306'].shape[0]

1

In [316]:
a

,Tick,Tick Data Structure,Trade Cancellation,Trade Cancellation Data Structure,String Date
20240306,1,1,1,1,06 Mar 2024

In [318]:
b = a[a.isna().any(axis=1)]

In [319]:
b

Empty DataFrame
Columns: [Tick, Tick Data Structure, Trade Cancellation, Trade Cancellation Data Structure, String Date]
Index: []

In [293]:
for i in ['Tick', 'Tick Data Structure', 'Trade Cancellation', 'Trade Cancellation Data Structure']:
    b[i] = 1

In [294]:
a.loc[b.index] = b

In [295]:
a

,Tick,Tick Data Structure,Trade Cancellation,Trade Cancellation Data Structure,String Date
20240306,1,1,1,1,06 Mar 2024

In [85]:
ll = a[a.isna().any(axis=1)].index

In [86]:
ll

Index(['20240306'], dtype='object')

In [87]:
for i in ll:
    print('this is the ll: ' + i)

this is the ll: 20240306

In [88]:
    dic = {
        'Tick': 1,
        'Tick Data Structure': 2,
        'Trade Cancellation': 3,
        'Trade Cancellation Data Structure': 3
    }

In [89]:
x = pd.DataFrame(dic, index=['allah'])

In [90]:
df = pd.concat([a, x])

In [91]:
df[df.isna().any(axis=1)]

,Tick,Tick Data Structure,Trade Cancellation,Trade Cancellation Data Structure
20240306,None,None,None,None

In [100]:
df

,Tick,Tick Data Structure,Trade Cancellation,Trade Cancellation Data Structure
20240306,None,None,None,None
allah,1,2,3,3