In [3]:
import pandas as pd

In [269]:
a = pd.read_parquet('../details/tracker.parquet')

In [270]:
a[a.index == '20240306'].shape[0]

1

In [271]:
a

,Tick,Tick Data Structure,Trade Cancellation,Trade Cancellation Data Structure,String Date
20240307,Okay,Okay,Okay,Okay,07 Mar 2024
20240306,Okay,Okay,Okay,Okay,06 Mar 2024
20240305,Okay,Okay,Okay,Okay,05 Mar 2024
20240304,Okay,Okay,Okay,Okay,04 Mar 2024
20240309,Download Failed,Download Failed,Download Failed,Download Failed,09 Mar 2024

In [262]:
oks = [a.loc[x]['String Date'] for x in a[a[a == 'Okay'].any(axis=1)].index]

In [186]:
arr = [a.loc[x]['String Date'] for x in a.index]

In [233]:
test = {x for x in arr if x not in oks}

In [234]:
test

{'06 Mar 2024', '09 Mar 2024'}

In [242]:
test.add({'09 Mar 2024', '08 Feb 2024'})

TypeError: unhashable type: 'set'

In [69]:
b = a[a.isna().any(axis=1)]

In [70]:
b

Empty DataFrame
Columns: [Tick, Tick Data Structure, Trade Cancellation, Trade Cancellation Data Structure, String Date]
Index: []

In [20]:
for i in ['Tick', 'Tick Data Structure', 'Trade Cancellation', 'Trade Cancellation Data Structure']:
    b[i] = 1

In [21]:
a.loc[b.index] = b

In [22]:
a

,Tick,Tick Data Structure,Trade Cancellation,Trade Cancellation Data Structure,String Date
20240306,Okay,Okay,Okay,Okay,06 Mar 2024

In [85]:
ll = a[a.isna().any(axis=1)].index

In [86]:
ll

Index(['20240306'], dtype='object')

In [87]:
for i in ll:
    print('this is the ll: ' + i)

this is the ll: 20240306

In [88]:
    dic = {
        'Tick': 1,
        'Tick Data Structure': 2,
        'Trade Cancellation': 3,
        'Trade Cancellation Data Structure': 3
    }

In [89]:
x = pd.DataFrame(dic, index=['allah'])

In [90]:
df = pd.concat([a, x])

In [91]:
df[df.isna().any(axis=1)]

,Tick,Tick Data Structure,Trade Cancellation,Trade Cancellation Data Structure
20240306,None,None,None,None

In [100]:
df

,Tick,Tick Data Structure,Trade Cancellation,Trade Cancellation Data Structure
20240306,None,None,None,None
allah,1,2,3,3